Semester 7/CS4135 - Software Architectures/SoftwareArchitectures/project2/CalculatorService/CalculatorClient/Service References/ServiceReference1/CalculatorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalculatorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1042/CalculatorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1042/CalculatorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1042/CalculatorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CalculatorService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_opAddition_InputMessage">
    <wsdl:part name="parameters" element="tns:opAddition" />
  </wsdl:message>
  <wsdl:message name="ICalculator_opAddition_OutputMessage">
    <wsdl:part name="parameters" element="tns:opAdditionResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_opSubtraction_InputMessage">
    <wsdl:part name="parameters" element="tns:opSubtraction" />
  </wsdl:message>
  <wsdl:message name="ICalculator_opSubtraction_OutputMessage">
    <wsdl:part name="parameters" element="tns:opSubtractionResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_opMultiplication_InputMessage">
    <wsdl:part name="parameters" element="tns:opMultiplication" />
  </wsdl:message>
  <wsdl:message name="ICalculator_opMultiplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:opMultiplicationResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_opDivision_InputMessage">
    <wsdl:part name="parameters" element="tns:opDivision" />
  </wsdl:message>
  <wsdl:message name="ICalculator_opDivision_OutputMessage">
    <wsdl:part name="parameters" element="tns:opDivisionResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_undo_InputMessage">
    <wsdl:part name="parameters" element="tns:undo" />
  </wsdl:message>
  <wsdl:message name="ICalculator_undo_OutputMessage">
    <wsdl:part name="parameters" element="tns:undoResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="opAddition">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/opAddition" message="tns:ICalculator_opAddition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/opAdditionResponse" message="tns:ICalculator_opAddition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="opSubtraction">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/opSubtraction" message="tns:ICalculator_opSubtraction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/opSubtractionResponse" message="tns:ICalculator_opSubtraction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="opMultiplication">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/opMultiplication" message="tns:ICalculator_opMultiplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/opMultiplicationResponse" message="tns:ICalculator_opMultiplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="opDivision">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/opDivision" message="tns:ICalculator_opDivision_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/opDivisionResponse" message="tns:ICalculator_opDivision_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="undo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/undo" message="tns:ICalculator_undo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/undoResponse" message="tns:ICalculator_undo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalculator" type="tns:ICalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="opAddition">
      <soap:operation soapAction="http://tempuri.org/ICalculator/opAddition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opSubtraction">
      <soap:operation soapAction="http://tempuri.org/ICalculator/opSubtraction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opMultiplication">
      <soap:operation soapAction="http://tempuri.org/ICalculator/opMultiplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opDivision">
      <soap:operation soapAction="http://tempuri.org/ICalculator/opDivision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="undo">
      <soap:operation soapAction="http://tempuri.org/ICalculator/undo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorService">
    <wsdl:port name="BasicHttpBinding_ICalculator" binding="tns:BasicHttpBinding_ICalculator">
      <soap:address location="http://localhost:1042/CalculatorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>