Semester 7/CS4135 - Software Architectures/SoftwareArchitectures/project2/CalculatorService/CalculatorClient/Service References/ServiceReference1/CalculatorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CalculatorService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CalculatorService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EvaluatedExpression">
    <xs:sequence>
      <xs:element minOccurs="0" name="Expression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EvaluatedExpression" nillable="true" type="tns:EvaluatedExpression" />
</xs:schema>